/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    margin-right:25%;
    padding:1px 16px;
}

#info-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    /* border: 3px solid #73AD21; */
    /* height: 100%; */
    padding: 10px;
    /* margin-top: 80px; */
    text-align: left;
    /* overflow-y: scroll; */
}

.restaurant-list {
    /* color: #f1f1f1; */
    /* overflow-y: scroll; */
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    /* border: 3px solid #73AD21; */
    height: 90%;
    padding: 10px;
    margin-top: 80px;
    text-align: left;
    overflow-y: scroll;
    color: wheat;
}

/* , #restaurant-sort1to3-details, #restaurant-sort4to5-details */

.hide-controls {
    visibility: hidden;
    display: none;
}

.restaurantContent {
    /* width: 250px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin: 5px;
    color: wheat;
  }

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-y: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    /* width: 100%; */
    height: 80px;
    background-color: #252831;
    text-align:left;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.945);
}

h2 {
    margin: 0;
    letter-spacing: 10px;
}

li {
    list-style: none;
}

#selectRate {
    padding: 10px;
}

#accordion-btn {
    color: white;
    border: white solid 1px;
}
